<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NexForms</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arbutus+Slab">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
    <link rel="stylesheet" href="css/Swiper-Slider-Card-For-Blog-Or-Product.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">NEXFORMS</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Documentation</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Get Started!&nbsp;</a>
                        <div class="dropdown-menu "><a class="dropdown-item" href="#">Register</a><a class="dropdown-item" href="/login">Login</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center" id="animatedTextBackground">
        <h1 class="elegantshd"></h1>
        <h1 id="animatedTextHeading"></h1>
    </div>
    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="img/blog-1.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code">Easy & Versitile </span><div class="blog-slider__title">Create Forms with Ease!</div><div class="blog-slider__text">Creating surveys and quizies with nexforms is easy as 1 2 3!</div><a class="class=&quot;blog-slider__button" href="/login">Start!</a></div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="img/blog-2.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code"></span><div class="blog-slider__title">Configurations!</div><div class="blog-slider__text">NexForms has an immense number of configurations, not just one There are tons to choose from!</div><a class="class=&quot;blog-slider__button" href="#">Here's The List</a></div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="img/blog-3.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code">Free</span><div class="blog-slider__title">Yes, just free!</div><div class="blog-slider__text">NexForms is a free alternative to any other forms that require money to create incredible forms & it's open source too!</div><a class="class=&quot;blog-slider__button" href="https://github.com/kshitij-bhardwaj/NexForms">Our Repository</a></div>
            </div>
            <div class="blog-slider__pagination"></div>
        </div>
    </div>
    <br></br>
    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="img/blog-1.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code">26 December 2019</span><div class="blog-slider__title">Lorem Ipsum Dolor</div><div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div><a class="class=&quot;blog-slider__button" href="#">READ MORE</a></div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="img/blog-2.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code">26 December 2019</span><div class="blog-slider__title">Lorem Ipsum Dolor</div><div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div><a class="class=&quot;blog-slider__button" href="#">READ MORE</a></div>
            </div>
            <div class="blog-slider__item swiper-slide">
                <div></div>
                <div class="blog-slider__img"><img src="img/blog-3.jpg"></div>
                <div class="blog-slider__content"><span class="blog-slider__code">26 December 2019</span><div class="blog-slider__title">Lorem Ipsum Dolor</div><div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div><a class="class=&quot;blog-slider__button" href="#">READ MORE</a></div>
            </div>
            <div class="blog-slider__pagination"></div>
        </div>
    </div>
    <div></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>